bin
include
lib
pip-selfcheck.json
.cache
.idea
__pycache__/
__pycache__/*
game/__pycache__
.coverage
.Python
.tox
.eggs
.DS_Store
x_in_a_row.egg-info
game/__pycache__/
game/game.pyc
game/.coverage
dist/

